<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.QuestionMapper">

    <!-- 存储用户提出的问题 -->
    <insert id="insertQuest">
        insert into t_question (uid, question, question_time)
            values (#{uid}, #{question}, NOW())
    </insert>

</mapper>